/* Changes the background color of entire page */
body {
  background-color: #fdf6e3
}

header, footer {
  font-size: 1.5rem;
}

nav > ul {
  font-family: sans-serif;
}
/* Makes Logo Uppercase (FRUIT FACTORY) */
.logo {
  text-transform: uppercase;
}
/* Changes Color of Wrapper */
.wrapper {
  background-color: #eee8d5;
}

.wrapper > .dfn {
  background-color: #b58900;
}
/*Changes 2nd strong to white. p + strong because the second strong is beside a p*/
p + strong {
  color: #fff
}
/* Changing Color of Sub Headers */
#contents, #favs, #facts, #types {
  color: #93a1a1;
}
/* Applies background to all <a> except ones in class .no-highlight*/
a:not(.no-highlight){
  background-color: #719e07;
}
